<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style2.css">
    <script src="https://kit.fontawesome.com/99984d53b2.js" crossorigin="anonymous"></script>
</head>

<body>
   {{>navbar }}
    <div class="container">
        <div class="left-container">
            <img src="photo/mern-stack.png">

        </div>
        <div class="right-container">
            <h2>Welcome to weather app</h2>
            <h1>I Am A <span>Mern Stack Developer</span></h1>
           
        </div>
    </div>
    {{>footer name="Jitendra Vishvakarma"}}



</body>

</html>