<!DOCTYPE html>
<html lang="en">

<head>
   {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container">
        <div class="left-container">
            <h2>Welcome to weather app</h2>
            <h1>Get The Latest <span>Weather</span>  Info Of Your City</h1>
            <a href="/weather"><button>CHECK NOW</button></a> 
        </div>
        <div class="right-container">
            <img src="photo/weather-img-1.jpg">

        </div>
    </div>
    {{>footer name="Jitendra Vishvakarma"}}

</body>

</html>