 <div class="navbar">
        <h1><i class="fa-sharp fa-solid fa-cloud fa-beat-fade"></i> Weather <i class="fa-sharp fa-solid fa-cloud fa-beat-fade"></i> </h1>
        <div class="nav-menu">
            <ul>
                <a href="/index"><li>Home</li></a>
                <a href="/weather"><li>Weather</li></a>
                <a href="/about"><li>About</li></a>
                
            </ul>
        </div>
    </div>